__pycache__/forms.cpython-310.pyc
__pycache__/get_filename.cpython-310.pyc
__pycache__/gui.cpython-310.pyc
__pycache__/requirements.cpython-310.pyc
__pycache__/stable_diffusion_funcs.cpython-310.pyc
libs/__pycache__/get_filename.cpython-310.pyc
libs/__pycache__/requirements.cpython-310.pyc
libs/__pycache__/stable_diffusion_funcs.cpython-310.pyc
static/img/
extras/prompts.txt
extras/prompts.txt
